body {
  margin: 0;
}

header {
  background-color: #332c14;
  margin: 0;
}

h1 {
  font-family: "Helvetic",sans-serif;
  text-align: center;
  color: #e2d6aa;
  margin: 0;
  padding-top: 10px;
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  height: 20px;
}

button {
  width: 100px;
  height: 40px;
  background-color: #0b1c9b;
  color: #e2d6aa;
  font-size: 20px;
  border: 1px solid #e2d6aa;
  border-radius: 5px;
}

button:hover {
  background-color: #0c9b15;
}

input, button {
  margin: 15px 30px;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #e2d6aa;
  display: flex;
  flex-wrap: wrap;
}

figure {
  flex-basis: 18%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  width: 120px;
  height: 120px;
}

a {
  text-decoration: none;
  color: #332c14;
}

a:hover {
  text-decoration: underline;
  color: #0b1c9b;
}

figcaption {
  text-align: center;
  margin-top: 10px;
}
