header {
  background-color: #332c14;
}

h1 {
  font-family: "Helvetic",sans-serif;
  text-align: center;
  color: #e2d6aa;
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  height: 20px;
}

button {
  width: 100px;
  height: 40px;
  background-color: #0c9b15;
  color: #ffffff;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

input, button {
  margin: 15px 30px;
}
